/* Table1.css */
.yellow-thead th {
  background-color: #0b83d7;
}


h1{
  color: #235b9d;
}


/* .input-resize{
  border: 1px solid red;
} */


@media only screen and (max-width: 624px) and (min-width: 320px) {
  .input-resize input{
    /* Your styles for this media query range */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid red;
    width: 70%; /* Adjust the width as needed */
    height: 50px; 
  }
}